<!--profile cover start-->
<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img2.jpg" alt="bg-img">
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a href="javascript:;" class="profile-image">
                <img class="user-img img-radius" src="assets/images/user-profile/user-img.jpg" alt="user-img">
              </a>
            </div>
            <div class="media-body row">
              <div class="col-lg-12">
                <div class="user-title">
                  <h2>Salma Mbarki</h2>
                  <span class="text-white">Clinical psychologist.</span>
                </div>
              </div>
              <div>
                <!--<div class="pull-right cover-btn">
                  <button type="button" class="btn btn-primary m-b-10 m-r-10"><i class="icofont icofont-plus"></i> Follow</button>
                  <button type="button" class="btn btn-primary m-b-10"><i class="icofont icofont-ui-messaging"></i> Message</button>
                </div><-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<!--<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="Personal Info">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">-->
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">About Me</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                  <tr>
                                    <th scope="row">First Name</th>
                                    <td>Salma</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Family Name</th>
                                    <td>Saidi</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Gender</th>
                                    <td>Female</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Birth Date</th>
                                    <td>October 25th, 1990</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Marital Status</th>
                                    <td>Single</td>
                                  </tr>
                                  
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <th scope="row">Location</th>
                                    <td>Tunisia, TUN</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Email</th>
                                    <td><a href="javascript:;">salmasaidi@gmail.com</a></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Mobile Number</th>
                                    <td>(+216) 21 678 910</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Twitter</th>
                                    <td>@salmasaidi</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Skype</th>
                                    <td>salma.saidi</td>
                                  </tr>
                                  
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
                                        <input type="text" class="form-control" placeholder="First Name" value="Salma">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
                                        <input type="text" class="form-control" placeholder="Family Name" value="Saidi">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="form-radio">
                                        <div class="group-add-on">
                                          <div class="radio radiofill radio-inline">
                                            <label>
                                              <input type="radio" name="radio"><i class="helper"></i> Male
                                            </label>
                                          </div>
                                          <div class="radio radiofill radio-inline">
                                            <label>
                                              <input type="radio" name="radio" checked><i class="helper"></i> Female
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <input id="dropper-default" class="form-control" type="text" value="October 25th, 1990" placeholder="Select Your Birth Date" />
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <select id="hello-single" class="form-control">
                                        <option value="">---- Marital Status ----</option>
                                        <option value="married">Married</option>
                                        <option value="single" selected>Single</option>
                                        <option value="unmarried">Unmarried</option>
                                      </select>
                                    </td>
                                  </tr>
                                  
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-location-pin"></i></label></span>
                                          <input type="text" class="form-control" placeholder="Address" value="Tunisia, TUN">
                                        </div>
                                      </td>
                                    </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-mobile-phone"></i></label></span>
                                        <input type="text" class="form-control" value="(+216) 21 678 910" placeholder="Mobile Number">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-social-twitter"></i></label></span>
                                        <input type="text" class="form-control" value="@salmasaidi" placeholder="Twitter Id">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-social-skype"></i></label></span>
                                        <input type="email" class="form-control" value="salma.saidi" placeholder="Skype Id">
                                      </div>
                                    </td>
                                  </tr>
                                 
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                          <div class="text-center">
                            <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20">Save</a>
                            <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
                          </div>
                        </div>
                        <!-- end of edit info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            <!--</div>
          </ng-template>
        </ngb-tab>
         
        
      </ngb-tabset>
    </div>
  </div>
</div>-->