<div class="col-md-12 col-xl-8">
  <app-card [title]="'Recently recommended :'" [blockClass]="'p-0'">
    <div class="card-comment ">
      <div class="card-block-small">
        <img class="img-radius img-50" src="assets/images/avatar-1.jpg" alt="user-1">
        <div class="comment-desc">
          <h6>Asma Mbarki</h6>
          <p class="text-muted ">Clinical psychologist.</p>
          <div class="comment-btn">
            <button class="btn bg-c-blue btn-round btn-comment ">Get Appointment</button>
          &nbsp;

          </div>
          <div class="comment-btn">
            <button class="btn bg-c-blue btn-round btn-comment ">More Deatils</button>

          </div>
          <div class="date">
          <div class="date">
            <i>04 October 2022</i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-comment ">
      <div class="card-block-small">
        <img class="img-radius img-50" src="assets/images/avatar-2.png" alt="user-4">
        <div class="comment-desc">
          <h6>Ilhem Smari </h6>
          <p class="text-muted ">Educational psychologist</p>
          <div class="comment-btn">
            <button class="btn bg-c-blue btn-round btn-comment ">Get Appointment</button>
            &nbsp;

            <button class="btn bg-c-blue btn-round btn-comment ">More Deatils</button>

          </div>
          <div class="date">
            <i>16 December 2022</i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-comment ">
      <div class="card-block-small">
        <img class="img-radius img-50" src="assets/images/avatar-3.jpg" alt="user-2">
        <div class="comment-desc">
          <h6>Faten Smaoui</h6>
          <p class="text-muted ">Neuropsychologist</p>
          <div class="comment-btn">
            <button class="btn bg-c-blue btn-round btn-comment ">Get Appointment</button>
            &nbsp;

            <button class="btn bg-c-blue btn-round btn-comment ">More Deatils</button>

          </div>
          <div class="date">
            <i>12 Saptember 2022</i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-comment ">
      <div class="card-block-small">
        <img class="img-radius img-50" src="assets/images/avatar-4.jpg" alt="user-3">
        <div class="comment-desc">
          <h6>Naoufel Rouached</h6>
          <p class="text-muted ">Social psychologist</p>
          <div class="comment-btn">
            <button class="btn bg-c-blue btn-round btn-comment ">Get Appointment</button>
            &nbsp;

            <button class="btn bg-c-blue btn-round btn-comment ">More Deatils</button>

          </div>
          <div class="date">
            <i>20 October 2022</i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-comment ">
      <div class="card-block-small">
        <img class="img-radius img-50" src="assets/images/avatar-5.jpg" alt="user-2">
        <div class="comment-desc">
          <h6>Ahmed Manai</h6>
          <p class="text-muted ">Work psychologist</p>
          <div class="comment-btn">
            <button class="btn bg-c-blue btn-round btn-comment ">Get Appointment</button>
            &nbsp;

            <button class="btn bg-c-blue btn-round btn-comment ">More Deatils</button>

          </div>
          <div class="date">
            <i>12 Saptember 2022</i>
          </div>
        </div>
      </div>
    </div>