<!--profile cover start-->
<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.png" alt="bg-img">
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a href="javascript:;" class="profile-image">
                <img class="user-img img-radius" src="assets/images/avatar-3.jpg" alt="user-img">
              </a>
            </div>
            <div class="media-body row">
              <div class="col-lg-12">
                <div class="user-title">
                  <h1 style="color: black;">Asma Mbarki</h1>
                  <span class="text-black" >Relaxation Psychologist</span>
                </div>
              </div>
              <div>
                <!--<div class="pull-right cover-btn">
                  <button type="button" class="btn btn-primary m-b-10 m-r-10"><i class="icofont icofont-plus"></i> Follow</button>
                  <button type="button" class="btn btn-primary m-b-10"><i class="icofont icofont-ui-messaging"></i> Message</button>
                </div><-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<!--<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="Personal Info">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">-->
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-header-text">About Dr.Mbarki</h3>

                </div>
                <div class="card-body">
                  <div class="view-info">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                  <tr>
                                    <th scope="row">First Name</th>
                                    <td>Asma  </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Family Name</th>
                                    <td>  Mbarki</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Gender</th>
                                    <td>Female</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Birth Date</th>
                                    <td>September 09th, 1995</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">speciality</th>
                                    <td>Relaxation Psychologist</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Year of join</th>
                                    <td>2020</td>
                                  </tr>
                                  
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <th scope="row">Location</th>
                                    <td>Tunisia, TUN</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Email</th>
                                    <td><a href="javascript:;">Asma.Mbarki@Mynd.tn</a></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Mobile Number</th>
                                    <td>(+216) 25 854 145</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Twitter</th>
                                    <td>@Dr.Asma_Mbarki</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Skype</th>
                                    <td>Dr.Asma Mbarki</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Education</th>
                                    <td>MBBS in Relaxation psychology, PHD in Neurosurgeon.</td>
                                  </tr>
                                
                                  
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>