<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'WHAT IS TELE PSYCHOLOGY?'">
      <p>
        "Telepsychology (or online psychology) refers to psychological practices carried out at a distance. These practices use information and communication technologies: telephone, videoconference, etc.

        Thus psychotherapies by telephone and videoconference are part of the field of psychology."
      </p>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'WHAT IS MYND?'">
      <p>
        "MYND is the first psychological helpline in Tunisia, connecting people seeking help and psychological support with qualified psychologists within the Ahkili team.

        It is possible to use our services, either by downloading our mobile application or by contacting us at (+216) 78 584 587"
      </p>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'WHO ARE THE MYND PSYCHOLOGISTS?'">
      <p>
        "Our team is made up of qualified and multidisciplinary psychologists who are able to respond to your various problems (daily stress, anxiety, professional problems, personal problems, addiction, advice for your child, etc.)."
      </p>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'IS IT POSSIBLE TO HAVE A CONSULTATION FOR YOUR CHILD?'">
      <p>
        "Yes, it is quite possible to carry out a consultation for your child. For this you have two options:
        you can book a consultation by phone (our assistant will advise you on a suitable psychologist) or you can use our mobile application. You will find there directly in the types of consultation "a consultation for my child"."
      </p>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'IS IT POSSIBLE TO HAVE A COUPLE CONSULTATION?'">
      <p>
        "Yes, it is quite possible to have a couple consultation on our mobile application. You just have to choose “Couple therapy” among the different types of consultation."
      </p>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'IS THERE AN MYND SERVICE FOR COMPANIES?'">
      <p>
        "Yes, we offer tailor-made psychological listening cells according to the needs of the company and its employees."
      </p>
    </app-card>
  </div>
</div>
